<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Add an Employee
      </h1>
    </div>
      <%= render 'form', employee: @employee %>
  </div>
</section>
