<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Please add a new Complaint
      </h1>
    </div>
      <%= render 'form', complaint: @complaint %>
  </div>
</section>
