<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edit Dealer
      </h1>
    </div>
      <%= render 'form', dealer: @dealer %>
  </div>
</section>
