<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Add a Mechenic
      </h1>
    </div>
      <%= render 'form', mechenic: @mechenic %>
  </div>
</section>
