/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 */
@import "bootstrap";
@import "font-awesome";

.navbar {
  font-style: italic;
  font-family: serif;
  background-image: linear-gradient(to right, #209cee,#FFF);
}

#mySidenav a {
  position: absolute;
  left: -130px;
  transition: 0.3s;
  padding: 15px;
  width: 140px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 15% 15px 0;
  background-color: #FFF;
}

#mySidenav a:hover {
  left: 0;
  background-color: #209cee;
}

#analytics {
  top: 70px;
}

#complaints {
  top: 130px;
}

#products {
  top: 190px;
}

#brands {
  top: 250px;
}
#mechenics {
  top: 310px;
}

#employees {
  top: 370px;
}

#dealers {
  top: 430px;
}
#session {
  top: 490px;
}
