<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Please add a new Brand
      </h1>
    </div>
      <%= render 'form', brand: @brand %>
  </div>
</section>
