<p id="notice"><%= notice %></p>
<div class="container-fluid col-sm-2">
  <div class="card bg-primary text-white container-fluid">
      <div class="card-body text-center">
        <strong >Brand name  </strong>
        <%= @brand.brand_name %>
      </div>
  </div>
  <%= link_to 'Edit', edit_brand_path(@brand),class: "btn btn-secondary"%>
  <%= link_to 'Back', brands_path ,class: "btn btn-secondary"%>

</div>
