<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Please add a new Product
      </h1>
    </div>
      <%= render 'form', product: @product %>
  </div>
</section>
