<footer class="footer is-fixed-bottom">
  <div class="content has-text-centered">
    <p>
      <strong>Supreme Enterprise Product</strong> by <a href="https://www.facebook.com/prashant080994">PrashantSharma</a>.
      Contact:9728697979
    </p>
  </div>
</footer>
