<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a> -->

    <h1 class = "navbar-item" style="color:orange">Superme Enterprise</h1>

  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field has-addons">

      <%= form_tag complaints_path, :method => 'get',class:"navbar-end navbar-item" do %>
  		     	<%= text_field_tag :search, params[:search],class:"control input is-success" %>
  	       	<%= submit_tag "Search",:name=>nil,class:"controll button is-success"%>
  	      <%end%>
  		</form>
    </div>
  </div>
</nav>
