<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class = "navbar-item" style="color:orange">Superme Enterprise</h1>
  </div>
  <%if params[:controller] == "analytics"%>
  <%else%>
  <div class="navbar-end navbar-item field has-addons">
    <%= form_tag search_controller_url(params[:controller]), :method => 'get',class:"navbar-end navbar-item" do %>
      <%= text_field_tag :search, params[:search],class:"control input is-success" %>
     	<%= submit_tag "Search",:name=>nil,class:"controll button is-success"%>
	   <%end%>
		</form>
  </div>
  <%end%>
</nav>
